* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

main {
  margin-top: 60px;
  background-color: #f7f4f1;
}

section {
  padding-bottom: 40px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
